.products-container {
    background-color: white;
}

.sort-button {
    text-align: center;
}

.products {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 5px;
}

.card {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
    background-color: white;
}

.product-image {
    width: 100%;
    max-width: 286px;
    max-height: 180px;
    display: block;
}

.product-name {
    margin: 10px 0px;
}