.products-container {
    background-color: white;
}

.sort-button {
    text-align: center;
}

.products {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 5px;
}